/** General */

body {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #6c7279;
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

/** Container
=========================== */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/** Header
=========================== */

.header {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    z-index: 100;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    border-bottom: solid 1px #4f5168;
}

/** Navigation
=========================== */

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    margin-left: 55px;

    opacity: 0.7;
    transition: opacity 0.2s linear;
}

.nav__link:hover {
    opacity: 1;
}

.nav__link:first-child {
    margin-left: 0;
}

/** intro
=========================== */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 100px;
    height: 750px;
    background: #313550 url(img/header-bg.jpg) center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 65px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 40px;
}

.intro__subtitle {
    color: #fff;
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 60px;
}

/** button
=========================== */

.btn {
    display: inline-block;
    vertical-align: top;

    font-weight: 600;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 14px 40px;

    border-radius: 2px;
    border: 0;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
}

.btn--red {
    background-color: #e84545;
    transition: background-color 0.1s linear;
}

.btn--red:hover {
    background-color: #c93939;
}

/** features
=========================== */

.features {
    display: flex;
    margin: 95px 0;
    flex-wrap: wrap;
}

.features__item {
    text-align: center;
    width: 33.33333%;

    padding: 0 40px;
    margin: 35px 0;
}

.features__img {
    margin-bottom: 25px;
}

.features__title {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2d3033;
}

.features__text {
    font-size: 14px;
    line-height: 1.5;
}

/** works
=========================== */

.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden;

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.works__item:hover .works__content {
    opacity: 1;
}

.works__photo {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.works__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.2s linear;

    width: 100%;
    height: 100%;
    background-color: rgba(232, 69, 69, 0.9);
}

.works__title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}

.works__text {
    color: #fff;
}

/** team
=========================== */

.team {
    margin: 100px -15px 70px;
    display: flex;
    flex-wrap: wrap;
}

.team__item {
    width: 25%;
    font-size: 13px;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team__img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.team__name {
    font-size: 22px;
    color: #2d3033;

    margin-bottom: 13px;
}

.team__position {
    color: #e84545;
    margin-bottom: 27px;
    text-transform: uppercase;
}

.team__text {
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 30px;
}


/** social
=========================== */

.social {
    display: flex;
}

.social__link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #e8ecee;
    margin-right: 4px;
    transition: .1s linear;
}

.social__link:hover {
    background-color: #e8ecee;
}

.social__icon {
    fill: #c6cacc;
    height: 18px;
    transition: fill .1s linear;
}

.social__link:hover .social__icon{
    fill: #e84545;
}